@font-face {
    font-family: montserrat;
    src: url("/font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: montserrat;
    font-weight: 700;
    src: url("/font/Montserrat/Montserrat-Bold.ttf");
}