:root{
    --color-purple:#765EBA;
    --color-red:#C9174F;
    --color-soft-purple:#FAD1DE;
    --color-soft-purple-2:hsla(341, 80%, 90%,.7);
    --color-gray:#E1DBF0;
    --color-gray-2:hsla(257, 41%, 90%,.7);
    --color-white:#FFFFFF;
    --color-black:#000;
    --color-grays:#B1B1B1;
    --color-pink:#F500AD;
    --color-black-lite:rgba(0, 0, 0, 0.2);
    --color-gradient: linear-gradient(143.49deg, rgba(201, 23, 79, 0.5) 3.97%, rgba(118, 94, 186, 0.5) 52.98%, rgba(201, 23, 79, 0.5) 100%);
    --color-gradient-2:linear-gradient(90.62deg, rgba(118, 94, 186, 0.5) -0.3%, rgba(201, 23, 79, 0.5) 52.74%, rgba(118, 94, 186, 0.5) 102.89%);
}
$colors : purple,red,soft-purple ,gray,white,black,black-lite,gradient,gradient-2,soft-purple-2,gray-2;
@each $color in $colors {
    .color-#{"" + $color}{
        color: var(--color-#{"" + $color})
    }
    .border-color-#{"" + $color}{
        border-color: var(--color-#{"" + $color})
    }
    .bg-#{"" + $color}{
        background: var(--color-#{"" + $color})
    }
};