@for $var from 1 to 13 {
    .flex-#{$var}{
        flex: $var;
    }
}
@media (max-width:991px) {
    @for $var from 1 to 13 {
        .flex-#{$var}{
            flex: $var;
        }
    }
}
.flex{
    display: flex;
    flex-wrap: wrap;
    &-align-center{
        align-items: center;
    }
    &-justify{
        &-left{
            justify-content: flex-start;
        }
        &-center{
            justify-content: center;
        }
        &-right{
            justify-content: flex-end;
        }
    }
    &-direction{
        &-column{
            flex-direction: column;
        }
    }
}