.background-picture{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    &::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: block;
        background:var(--color-gradient);
        z-index: 0;
        opacity: .5;
    }
    &-img{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        opacity: .7;
    }
}