.banner{
    position: relative;
    height: min(100vh,98.6vw);
    display: flex;
    align-items: center;
    &-bottom{
        align-items: flex-end;
        justify-content: center;
        .banner-content{
            margin: 0 auto;
            &-title{
                text-align: center;
            }
        }
    }

    &-fondo{
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 36%;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, var(--color-gray) 6.86%, var(--color-blue-dark) 68.24%);
            z-index: 1;
        }
        &,&-img{
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    &-content{
        position: relative;
        z-index: 2;
    }
    
}
.banner-2{
    text-align: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}