body:not(.cartActive){
    .cart{
        transform: translateX(100%);
    }
    .bg-cart-left{
       opacity: 0;
       transform: scale(0);
    }
}
body.cartActive{
    overflow: hidden;
}
.bg-cart-left{
   width: 100%;
   position: fixed;
   bottom: 0;
   left: 0;
   height: calc(100% - #{ptr(60px)});
   z-index: 8;
   transition: .5s opacity;
}

.cart{
    width: ptr(515px);
    max-width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    height: calc(100% - #{ptr(60px)});
    z-index: 9;
    padding: ptr(33px) ptr(24px);
    transition: .5s;

    display: flex;
    flex-direction: column;
    &-top{
        margin-bottom: auto;
    }
    &-buttom{
        width: 100%;
        padding: ptr(12px) ptr(20px);
        display: block;
        max-width: 100%;
        border: 0;
        border-radius: ptr(15px) ;
        cursor: pointer;
        text-align: center;
        &:not(:last-child){
            margin-bottom: ptr(28px);
        }
    }

    &-title{
        margin-bottom: ptr(31px);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-products{
        overflow: auto;     
        height: calc(100vh - #{ptr(340px)}); 
    }
    &-product{
        width: 100%;
        align-items: center;
        border-radius: ptr(20px);
        padding: ptr(15px) ptr(20px);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: ptr(20px);
        &:nth-child(2n){
            --color-red:var(--color-purple);
            --color-soft-purple-2: var(--color-gray-2);
        }
        
        &-img{
            width: ptr(69px);
            height: ptr(69px);
            object-fit: cover;
            object-position: center;
            border-radius: ptr(15px);
        }
        &-info{
            margin-left: ptr(20px);
           margin-right: auto;
        }
        &-title{
            
        }
        &-prices{
            .subPrice{
                opacity: .5;
                text-decoration:line-through;
                margin-right: ptr(14px);

            }
            .price{

            }
        }
        .delete{
            cursor: pointer;
        }
    }
   
}