.content-infoimg{
    &-text{
       &::first-letter{
            font-size: pxToRem(48px);
            color: var(--color-yellow);
       }
    }
    
    &-img{

        width: min(50%,670px);
        float: right;
        margin-left: pxToRem(45px);
        margin-bottom: pxToRem(45px);
    }
    &-img-left{
        margin-right: pxToRem(45px);
        float: left;
        margin-left: 0;
    }
}