.footer{
    padding: ptr(20px) 0;
    background-image: linear-gradient(120deg,#04506c 0%,#F500AD 90%);
    opacity: 0.9;
    &-content{
        justify-content: center;
        text-align: center;
        &-img{
            width: ptr(100px);
            
        }
        &-info{
            
            &-title{      
                margin-bottom: ptr(15px);
            }
            &-link{
                margin-bottom: ptr(19px);
                display: block;
            }
        }
    }
    .content-img,.content-info{
        @media (max-width:575px) {
            flex-basis: 100%;
            text-align: center;
            margin-bottom: ptr(30px);
        }
    }
}
.footer-content-info-title{
    text-align: center;
}

.footer-content-info-link{
    display: flex;
    align-items: center;
    margin: ptr(0px) ptr(20px);
    img{
        color: white;
        width: ptr(18px);
        margin-right: ptr(10px);
    }
}

.footer-content-info-linkcs{
    display: flex;
}

.fts{
    padding: ptr(10px);
}