.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: pxToRem(200px);
    margin-bottom: pxToRem(200px);
    &-label{
        width: min(700px, 47%);
        display: block;
        margin-bottom: pxToRem(45px);
        @media (max-width:767px) {
            width: 100%;
        }
        &-input{
            border: 0;
            outline: none;
            display: block;
            border-radius: pxToRem(20px);
            padding: pxToRem(14px) pxToRem(20px);
            width: 100%;
        }
        &-input-height-175{
            min-height: pxToRem(175px);
            min-width: 100%;
        }
    }
    &-label-100{
        width: 100%;
    }

    &-submit{
        width: min(700px, 50%);
        display: block;
        border: 0;
        outline: none;
        border-radius: pxToRem(20px);
        padding: pxToRem(14px) pxToRem(28px);
        margin: auto;
        cursor: pointer;
        @media (max-width:767px) {
            width: 100%;
        }
    }
}