body{
    padding-top: ptr(60px);
}



.header{
    padding: ptr(10px) 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: ptr(60px);
    background-image: linear-gradient(120deg,#04506c 0%,#F500AD 90%);
    opacity: 0.9;
    &-logo{
        width: ptr(82px);
    }
    &-content{

        &-cart{

            .img-cart{
                width: ptr(33px);
                cursor: pointer;
                
                margin-right: pxToRem(24px);
                @media (max-width:575px) {
                    margin-right: 0;
                }
            }
        }

    }

    &-nav{

        

    }
    &-buttom{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0;
        border-radius: pxToRem(23px);
        width: pxToRem(80px);
        height: pxToRem(40px);
        cursor: pointer;
        &::before{
            content: "";
            display: block;
            border-radius: 100%;
            width: pxToRem(10px);
            height: pxToRem(10px);
            color: var(--color-soft-purple);
            background-color: var(--color-soft-purple);
            box-shadow: pxToRem(20px) 0, pxToRem(-20px) 0 ;
        }

        @media (max-width:575px) {
               display: none;     
        }
        
    }
}