.pedir{
    padding: ptr(64px) ptr(100px);
    width: 100%;
    border-radius: ptr(25px);
    margin-bottom: ptr(20px);

    @media (max-width:991px) {
        padding: ptr(20px) ptr(50px);
    }
    @media (max-width:767px) {
        padding: ptr(20px) 0 ;
    }
    &-content{
        display: flex;
        flex-wrap: wrap;
       justify-content: space-between;
       max-width: 100%;
    }
    &-form{
        padding: ptr(64px) ptr(100px);
        @media (max-width:991px) {
            padding: ptr(10px) ptr(20px);
        }
        @media (max-width:767px) {
            padding: 0 ptr(15px);
        }
            
        &-input{
            width: 100%;
            display: block;
            border-radius: ptr(10px);
            border: 0;
            outline: none;
            height: ptr(50px);
            padding-left: ptr(14px);
            padding-right: ptr(14px);
        }
        &-buttom{
            width: 100%;
            height: ptr(50px);
            display: block;
            border-radius: ptr(10px);
            border: 0;
            width: calc(50% - #{ptr(8px)});
            display: block;
            margin-top: ptr(29px);
            margin-bottom: ptr(22px);
            cursor: pointer;
            @media (max-width:575px) {
                width: 100%;
            }
        }
        
        &-info{
            width: calc(50% - #{ptr(8px)});
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: ptr(22px);
            @media (max-width:575px) {
                width: 100%;
            }
            &-span{
                line-height: ptr(29px);
                display: block;
                width: 100%;
            }
        }
        

    }
    &-title{ 
        padding: ptr(12px) ptr(20px);
        display: block;
        max-width: 100%;
        justify-content: center;
        text-align: center;
    }
    
}

.pedir-form-infos{
    display: flex;
    justify-content: end;
    align-items: center;
}