.product{
    margin-bottom: ptr(69px);
    width: 100%;
    &:nth-child(2n){
        flex-direction: row-reverse;
        --color-red:var(--color-purple);
        --color-soft-purple-2: var(--color-gray-2);
        .product-picture-img{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: ptr(30px);
            border-bottom-right-radius: ptr(30px);
            @media (max-width:767px) {
                border-radius: ptr(30px) ptr(30px) 0  0 ;
            }

        }
        .product-info{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: ptr(30px);
            border-bottom-left-radius: ptr(30px);
            @media (max-width:767px) {
                    border-radius:  0  0 ptr(30px) ptr(30px) ;
            }

        }
    }
    &-picture{
        display: flex;

        @media (max-width:767px) {
            flex-basis: 100%;
            img{
                width: 100%;
                height: ptr(200px);
                border-radius: ptr(30px) ptr(30px) 0  0 ;
            }
        }
        &-img{
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            border-top-left-radius: ptr(30px);
            border-bottom-left-radius: ptr(30px);
        }
    }
    &-info{
        position: relative;
        padding: ptr(20px);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-top-right-radius: ptr(30px);
        border-bottom-right-radius: ptr(30px);
        @media (max-width:767px) {
                border-radius:  0  0 ptr(30px) ptr(30px) ;
        }

        &-top{
            margin-bottom: auto;
            width: 100%;
        }
        &-content{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
        }
        &-title{

        }
        &-text{

        }
        &-price{
            margin-right: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .subPrice{
                opacity: .5;
                text-decoration: line-through;
                margin-right: ptr(22px);

            }
            .price{


            }
        }
        &-count{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-input{
                width: ptr(52px);
                height: ptr(50px);
                border-radius: ptr(15px);
                border: 0;
                outline: none;
                text-align: center;
                &::-webkit-inner-spin-button, 
                &::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            }
            &-content{
                display:flex;
                flex-wrap: wrap;
                margin-right: ptr(15px);

                .content-arrow{
                    display: flex;
                    flex-direction: column;
                    margin-left: ptr(11px);
                    justify-content: space-between;
                    .arrow{
                        cursor: pointer;
                        height: ptr(22px);
                        -webkit-user-select: none;  
                        -moz-user-select: none;    
                        -ms-user-select: none;      
                        user-select: none;
                        svg{
                            color: var(--color-red);
                            -webkit-user-select: none;  
                            -moz-user-select: none;    
                            -ms-user-select: none;      
                            user-select: none;
                        }
                    }
                    .arrow-down{
                        transform: rotateZ(180deg);
                    }
                }
            }

        }
        &-btn{
            width: ptr(248px);
            height: ptr(50px);
            padding:ptr(7px) ptr(74px);
            border-radius: ptr(15px);
            border: 0;
            cursor: pointer;
            text-transform: uppercase;
        }
    }
}
