@font-face {
  font-family: italiana;
  src: url("/font/Italiana/Italiana-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  src: url("/font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: montserrat;
  font-weight: 700;
  src: url("/font/Montserrat/Montserrat-Bold.ttf");
}
:root {
  --color-purple:#765EBA;
  --color-red:#C9174F;
  --color-soft-purple:#FAD1DE;
  --color-soft-purple-2:hsla(341, 80%, 90%,.7);
  --color-gray:#E1DBF0;
  --color-gray-2:hsla(257, 41%, 90%,.7);
  --color-white:#FFFFFF;
  --color-black:#000;
  --color-grays:#B1B1B1;
  --color-pink:#F500AD;
  --color-black-lite:rgba(0, 0, 0, 0.2);
  --color-gradient: linear-gradient(143.49deg, rgba(201, 23, 79, 0.5) 3.97%, rgba(118, 94, 186, 0.5) 52.98%, rgba(201, 23, 79, 0.5) 100%);
  --color-gradient-2:linear-gradient(90.62deg, rgba(118, 94, 186, 0.5) -0.3%, rgba(201, 23, 79, 0.5) 52.74%, rgba(118, 94, 186, 0.5) 102.89%);
}

.color-purple {
  color: var(--color-purple);
}

.border-color-purple {
  border-color: var(--color-purple);
}

.bg-purple {
  background: var(--color-purple);
}

.color-red {
  color: var(--color-red);
}

.border-color-red {
  border-color: var(--color-red);
}

.bg-red {
  background: var(--color-red);
}

.color-soft-purple {
  color: var(--color-soft-purple);
}

.border-color-soft-purple {
  border-color: var(--color-soft-purple);
}

.bg-soft-purple {
  background: var(--color-soft-purple);
}

.color-gray {
  color: var(--color-gray);
}

.border-color-gray {
  border-color: var(--color-gray);
}

.bg-gray {
  background: var(--color-gray);
}

.color-white {
  color: var(--color-white);
}

.border-color-white {
  border-color: var(--color-white);
}

.bg-white {
  background: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.border-color-black {
  border-color: var(--color-black);
}

.bg-black {
  background: var(--color-black);
}

.color-black-lite {
  color: var(--color-black-lite);
}

.border-color-black-lite {
  border-color: var(--color-black-lite);
}

.bg-black-lite {
  background: var(--color-black-lite);
}

.color-gradient {
  color: var(--color-gradient);
}

.border-color-gradient {
  border-color: var(--color-gradient);
}

.bg-gradient {
  background: var(--color-gradient);
}

.color-gradient-2 {
  color: var(--color-gradient-2);
}

.border-color-gradient-2 {
  border-color: var(--color-gradient-2);
}

.bg-gradient-2 {
  background: var(--color-gradient-2);
}

.color-soft-purple-2 {
  color: var(--color-soft-purple-2);
}

.border-color-soft-purple-2 {
  border-color: var(--color-soft-purple-2);
}

.bg-soft-purple-2 {
  background: var(--color-soft-purple-2);
}

.color-gray-2 {
  color: var(--color-gray-2);
}

.border-color-gray-2 {
  border-color: var(--color-gray-2);
}

.bg-gray-2 {
  background: var(--color-gray-2);
}

html {
  font-size: 11px;
}
@media (min-width: 575px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 767px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1660px) {
  html {
    font-size: 20px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
}

.font-1 {
  font-size: 0.0625rem;
}

.font-2 {
  font-size: 0.125rem;
}

.font-3 {
  font-size: 0.1875rem;
}

.font-4 {
  font-size: 0.25rem;
}

.font-5 {
  font-size: 0.3125rem;
}

.font-6 {
  font-size: 0.375rem;
}

.font-7 {
  font-size: 0.4375rem;
}

.font-8 {
  font-size: 0.5rem;
}

.font-9 {
  font-size: 0.5625rem;
}

.font-10 {
  font-size: 0.625rem;
}

.font-11 {
  font-size: 0.6875rem;
}

.font-12 {
  font-size: 0.75rem;
}

.font-13 {
  font-size: 0.8125rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-15 {
  font-size: 0.9375rem;
}

.font-16 {
  font-size: 1rem;
}

.font-17 {
  font-size: 1.0625rem;
}

.font-18 {
  font-size: 1.125rem;
}

.font-19 {
  font-size: 1.1875rem;
}

.font-20 {
  font-size: 1.25rem;
}

.font-21 {
  font-size: 1.3125rem;
}

.font-22 {
  font-size: 1.375rem;
}

.font-23 {
  font-size: 1.4375rem;
}

.font-24 {
  font-size: 1.5rem;
}

.font-25 {
  font-size: 1.5625rem;
}

.font-26 {
  font-size: 1.625rem;
}

.font-27 {
  font-size: 1.6875rem;
}

.font-28 {
  font-size: 1.75rem;
}

.font-29 {
  font-size: 1.8125rem;
}

.font-30 {
  font-size: 1.875rem;
}

.font-31 {
  font-size: 1.9375rem;
}

.font-32 {
  font-size: 2rem;
}

.font-33 {
  font-size: 2.0625rem;
}

.font-34 {
  font-size: 2.125rem;
}

.font-35 {
  font-size: 2.1875rem;
}

.font-36 {
  font-size: 2.25rem;
}

.font-37 {
  font-size: 2.3125rem;
}

.font-38 {
  font-size: 2.375rem;
}

.font-39 {
  font-size: 2.4375rem;
}

.font-40 {
  font-size: 2.5rem;
}

.font-41 {
  font-size: 2.5625rem;
}

.font-42 {
  font-size: 2.625rem;
}

.font-43 {
  font-size: 2.6875rem;
}

.font-44 {
  font-size: 2.75rem;
}

.font-45 {
  font-size: 2.8125rem;
}

.font-46 {
  font-size: 2.875rem;
}

.font-47 {
  font-size: 2.9375rem;
}

.font-48 {
  font-size: 3rem;
}

.font-49 {
  font-size: 3.0625rem;
}

.font-50 {
  font-size: 3.125rem;
}

.font-51 {
  font-size: 3.1875rem;
}

.font-52 {
  font-size: 3.25rem;
}

.font-53 {
  font-size: 3.3125rem;
}

.font-54 {
  font-size: 3.375rem;
}

.font-55 {
  font-size: 3.4375rem;
}

.font-56 {
  font-size: 3.5rem;
}

.font-57 {
  font-size: 3.5625rem;
}

.font-58 {
  font-size: 3.625rem;
}

.font-59 {
  font-size: 3.6875rem;
}

.font-60 {
  font-size: 3.75rem;
}

.font-61 {
  font-size: 3.8125rem;
}

.font-62 {
  font-size: 3.875rem;
}

.font-63 {
  font-size: 3.9375rem;
}

.font-64 {
  font-size: 4rem;
}

.font-65 {
  font-size: 4.0625rem;
}

.font-66 {
  font-size: 4.125rem;
}

.font-67 {
  font-size: 4.1875rem;
}

.font-68 {
  font-size: 4.25rem;
}

.font-69 {
  font-size: 4.3125rem;
}

.font-70 {
  font-size: 4.375rem;
}

.font-71 {
  font-size: 4.4375rem;
}

.font-72 {
  font-size: 4.5rem;
}

.font-73 {
  font-size: 4.5625rem;
}

.font-74 {
  font-size: 4.625rem;
}

.font-75 {
  font-size: 4.6875rem;
}

.font-76 {
  font-size: 4.75rem;
}

.font-77 {
  font-size: 4.8125rem;
}

.font-78 {
  font-size: 4.875rem;
}

.font-79 {
  font-size: 4.9375rem;
}

.font-80 {
  font-size: 5rem;
}

.font-81 {
  font-size: 5.0625rem;
}

.font-82 {
  font-size: 5.125rem;
}

.font-83 {
  font-size: 5.1875rem;
}

.font-84 {
  font-size: 5.25rem;
}

.font-85 {
  font-size: 5.3125rem;
}

.font-86 {
  font-size: 5.375rem;
}

.font-87 {
  font-size: 5.4375rem;
}

.font-88 {
  font-size: 5.5rem;
}

.font-89 {
  font-size: 5.5625rem;
}

.font-90 {
  font-size: 5.625rem;
}

.font-91 {
  font-size: 5.6875rem;
}

.font-92 {
  font-size: 5.75rem;
}

.font-93 {
  font-size: 5.8125rem;
}

.font-94 {
  font-size: 5.875rem;
}

.font-95 {
  font-size: 5.9375rem;
}

.font-96 {
  font-size: 6rem;
}

.font-97 {
  font-size: 6.0625rem;
}

.font-98 {
  font-size: 6.125rem;
}

.font-99 {
  font-size: 6.1875rem;
}

.font-100 {
  font-size: 6.25rem;
}

.font-101 {
  font-size: 6.3125rem;
}

.font-102 {
  font-size: 6.375rem;
}

.font-103 {
  font-size: 6.4375rem;
}

.font-104 {
  font-size: 6.5rem;
}

.font-105 {
  font-size: 6.5625rem;
}

.font-106 {
  font-size: 6.625rem;
}

.font-107 {
  font-size: 6.6875rem;
}

.font-108 {
  font-size: 6.75rem;
}

.font-109 {
  font-size: 6.8125rem;
}

.font-110 {
  font-size: 6.875rem;
}

.font-111 {
  font-size: 6.9375rem;
}

.font-112 {
  font-size: 7rem;
}

.font-113 {
  font-size: 7.0625rem;
}

.font-114 {
  font-size: 7.125rem;
}

.font-115 {
  font-size: 7.1875rem;
}

.font-116 {
  font-size: 7.25rem;
}

.font-117 {
  font-size: 7.3125rem;
}

.font-118 {
  font-size: 7.375rem;
}

.font-119 {
  font-size: 7.4375rem;
}

.font-120 {
  font-size: 7.5rem;
}

.font-121 {
  font-size: 7.5625rem;
}

.font-122 {
  font-size: 7.625rem;
}

.font-123 {
  font-size: 7.6875rem;
}

.font-124 {
  font-size: 7.75rem;
}

.font-125 {
  font-size: 7.8125rem;
}

.font-126 {
  font-size: 7.875rem;
}

.font-127 {
  font-size: 7.9375rem;
}

.font-128 {
  font-size: 8rem;
}

.font-129 {
  font-size: 8.0625rem;
}

.font-130 {
  font-size: 8.125rem;
}

.font-131 {
  font-size: 8.1875rem;
}

.font-132 {
  font-size: 8.25rem;
}

.font-133 {
  font-size: 8.3125rem;
}

.font-134 {
  font-size: 8.375rem;
}

.font-135 {
  font-size: 8.4375rem;
}

.font-136 {
  font-size: 8.5rem;
}

.font-137 {
  font-size: 8.5625rem;
}

.font-138 {
  font-size: 8.625rem;
}

.font-139 {
  font-size: 8.6875rem;
}

.font-140 {
  font-size: 8.75rem;
}

.font-141 {
  font-size: 8.8125rem;
}

.font-142 {
  font-size: 8.875rem;
}

.font-143 {
  font-size: 8.9375rem;
}

.font-144 {
  font-size: 9rem;
}

.font-145 {
  font-size: 9.0625rem;
}

.font-146 {
  font-size: 9.125rem;
}

.font-147 {
  font-size: 9.1875rem;
}

.font-148 {
  font-size: 9.25rem;
}

.font-149 {
  font-size: 9.3125rem;
}

.font-150 {
  font-size: 9.375rem;
}

.font-151 {
  font-size: 9.4375rem;
}

.font-152 {
  font-size: 9.5rem;
}

.font-153 {
  font-size: 9.5625rem;
}

.font-154 {
  font-size: 9.625rem;
}

.font-155 {
  font-size: 9.6875rem;
}

.font-156 {
  font-size: 9.75rem;
}

.font-157 {
  font-size: 9.8125rem;
}

.font-158 {
  font-size: 9.875rem;
}

.font-159 {
  font-size: 9.9375rem;
}

.font-160 {
  font-size: 10rem;
}

.font-161 {
  font-size: 10.0625rem;
}

.font-162 {
  font-size: 10.125rem;
}

.font-163 {
  font-size: 10.1875rem;
}

.font-164 {
  font-size: 10.25rem;
}

.font-165 {
  font-size: 10.3125rem;
}

.font-166 {
  font-size: 10.375rem;
}

.font-167 {
  font-size: 10.4375rem;
}

.font-168 {
  font-size: 10.5rem;
}

.font-169 {
  font-size: 10.5625rem;
}

.font-170 {
  font-size: 10.625rem;
}

.font-171 {
  font-size: 10.6875rem;
}

.font-172 {
  font-size: 10.75rem;
}

.font-173 {
  font-size: 10.8125rem;
}

.font-174 {
  font-size: 10.875rem;
}

.font-175 {
  font-size: 10.9375rem;
}

.font-176 {
  font-size: 11rem;
}

.font-177 {
  font-size: 11.0625rem;
}

.font-178 {
  font-size: 11.125rem;
}

.font-179 {
  font-size: 11.1875rem;
}

.font-180 {
  font-size: 11.25rem;
}

.font-181 {
  font-size: 11.3125rem;
}

.font-182 {
  font-size: 11.375rem;
}

.font-183 {
  font-size: 11.4375rem;
}

.font-184 {
  font-size: 11.5rem;
}

.font-185 {
  font-size: 11.5625rem;
}

.font-186 {
  font-size: 11.625rem;
}

.font-187 {
  font-size: 11.6875rem;
}

.font-188 {
  font-size: 11.75rem;
}

.font-189 {
  font-size: 11.8125rem;
}

.font-190 {
  font-size: 11.875rem;
}

.font-191 {
  font-size: 11.9375rem;
}

.font-192 {
  font-size: 12rem;
}

.font-193 {
  font-size: 12.0625rem;
}

.font-194 {
  font-size: 12.125rem;
}

.font-195 {
  font-size: 12.1875rem;
}

.font-196 {
  font-size: 12.25rem;
}

.font-197 {
  font-size: 12.3125rem;
}

.font-198 {
  font-size: 12.375rem;
}

.font-199 {
  font-size: 12.4375rem;
}

.font-200 {
  font-size: 12.5rem;
}

.font-201 {
  font-size: 12.5625rem;
}

.font-202 {
  font-size: 12.625rem;
}

.font-203 {
  font-size: 12.6875rem;
}

.font-204 {
  font-size: 12.75rem;
}

.font-205 {
  font-size: 12.8125rem;
}

.font-206 {
  font-size: 12.875rem;
}

.font-207 {
  font-size: 12.9375rem;
}

.font-208 {
  font-size: 13rem;
}

.font-209 {
  font-size: 13.0625rem;
}

.font-210 {
  font-size: 13.125rem;
}

.font-211 {
  font-size: 13.1875rem;
}

.font-212 {
  font-size: 13.25rem;
}

.font-213 {
  font-size: 13.3125rem;
}

.font-214 {
  font-size: 13.375rem;
}

.font-215 {
  font-size: 13.4375rem;
}

.font-216 {
  font-size: 13.5rem;
}

.font-217 {
  font-size: 13.5625rem;
}

.font-218 {
  font-size: 13.625rem;
}

.font-219 {
  font-size: 13.6875rem;
}

.font-220 {
  font-size: 13.75rem;
}

.font-221 {
  font-size: 13.8125rem;
}

.font-222 {
  font-size: 13.875rem;
}

.font-223 {
  font-size: 13.9375rem;
}

.font-224 {
  font-size: 14rem;
}

.font-225 {
  font-size: 14.0625rem;
}

.font-226 {
  font-size: 14.125rem;
}

.font-227 {
  font-size: 14.1875rem;
}

.font-228 {
  font-size: 14.25rem;
}

.font-229 {
  font-size: 14.3125rem;
}

.font-230 {
  font-size: 14.375rem;
}

.font-231 {
  font-size: 14.4375rem;
}

.font-232 {
  font-size: 14.5rem;
}

.font-233 {
  font-size: 14.5625rem;
}

.font-234 {
  font-size: 14.625rem;
}

.font-235 {
  font-size: 14.6875rem;
}

.font-236 {
  font-size: 14.75rem;
}

.font-237 {
  font-size: 14.8125rem;
}

.font-238 {
  font-size: 14.875rem;
}

.font-239 {
  font-size: 14.9375rem;
}

.font-240 {
  font-size: 15rem;
}

.font-241 {
  font-size: 15.0625rem;
}

.font-242 {
  font-size: 15.125rem;
}

.font-243 {
  font-size: 15.1875rem;
}

.font-244 {
  font-size: 15.25rem;
}

.font-245 {
  font-size: 15.3125rem;
}

.font-246 {
  font-size: 15.375rem;
}

.font-247 {
  font-size: 15.4375rem;
}

.font-248 {
  font-size: 15.5rem;
}

.font-249 {
  font-size: 15.5625rem;
}

.font-w-100 {
  font-weight: 100;
}

.font-w-200 {
  font-weight: 200;
}

.font-w-300 {
  font-weight: 300;
}

.font-w-400 {
  font-weight: 400;
}

.font-w-500 {
  font-weight: 500;
}

.font-w-600 {
  font-weight: 600;
}

.font-w-700 {
  font-weight: 700;
}

.font-w-800 {
  font-weight: 800;
}

.font-w-900 {
  font-weight: 900;
}

.font-italiana {
  font-family: italiana;
}

.font-montserrat {
  font-family: montserrat;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.flex-7 {
  flex: 7;
}

.flex-8 {
  flex: 8;
}

.flex-9 {
  flex: 9;
}

.flex-10 {
  flex: 10;
}

.flex-11 {
  flex: 11;
}

.flex-12 {
  flex: 12;
}

@media (max-width: 991px) {
  .flex-1 {
    flex: 1;
  }
  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .flex-6 {
    flex: 6;
  }
  .flex-7 {
    flex: 7;
  }
  .flex-8 {
    flex: 8;
  }
  .flex-9 {
    flex: 9;
  }
  .flex-10 {
    flex: 10;
  }
  .flex-11 {
    flex: 11;
  }
  .flex-12 {
    flex: 12;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-align-center {
  align-items: center;
}
.flex-justify-left {
  justify-content: flex-start;
}
.flex-justify-center {
  justify-content: center;
}
.flex-justify-right {
  justify-content: flex-end;
}
.flex-direction-column {
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-red);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple);
}

::-webkit-scrollbar-track {
  background: var(--color-soft-purple);
}

.container {
  width: 1400px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
@media (max-width: 991px) {
  .container {
    width: 760px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 560px;
  }
}

body {
  padding-top: 3.75rem;
}

.header {
  padding: 0.625rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.75rem;
  background-image: linear-gradient(120deg, #04506c 0%, #F500AD 90%);
  opacity: 0.9;
}
.header-logo {
  width: 5.125rem;
}
.header-content-cart .img-cart {
  width: 2.0625rem;
  cursor: pointer;
  margin-right: 1.5rem;
}
@media (max-width: 575px) {
  .header-content-cart .img-cart {
    margin-right: 0;
  }
}
.header-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 1.4375rem;
  width: 5rem;
  height: 2.5rem;
  cursor: pointer;
}
.header-buttom::before {
  content: "";
  display: block;
  border-radius: 100%;
  width: 0.625rem;
  height: 0.625rem;
  color: var(--color-soft-purple);
  background-color: var(--color-soft-purple);
  box-shadow: 1.25rem 0, -1.25rem 0;
}
@media (max-width: 575px) {
  .header-buttom {
    display: none;
  }
}

.banner {
  position: relative;
  height: min(100vh, 98.6vw);
  display: flex;
  align-items: center;
}
.banner-bottom {
  align-items: flex-end;
  justify-content: center;
}
.banner-bottom .banner-content {
  margin: 0 auto;
}
.banner-bottom .banner-content-title {
  text-align: center;
}
.banner-fondo:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 36%;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, var(--color-gray) 6.86%, var(--color-blue-dark) 68.24%);
  z-index: 1;
}
.banner-fondo, .banner-fondo-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner-content {
  position: relative;
  z-index: 2;
}

.banner-2 {
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin-bottom: 4.3125rem;
  width: 100%;
}
.product:nth-child(2n) {
  flex-direction: row-reverse;
  --color-red:var(--color-purple);
  --color-soft-purple-2: var(--color-gray-2);
}
.product:nth-child(2n) .product-picture-img {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}
@media (max-width: 767px) {
  .product:nth-child(2n) .product-picture-img {
    border-radius: 1.875rem 1.875rem 0 0;
  }
}
.product:nth-child(2n) .product-info {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
}
@media (max-width: 767px) {
  .product:nth-child(2n) .product-info {
    border-radius: 0 0 1.875rem 1.875rem;
  }
}
.product-picture {
  display: flex;
}
@media (max-width: 767px) {
  .product-picture {
    flex-basis: 100%;
  }
  .product-picture img {
    width: 100%;
    height: 12.5rem;
    border-radius: 1.875rem 1.875rem 0 0;
  }
}
.product-picture-img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
}
.product-info {
  position: relative;
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}
@media (max-width: 767px) {
  .product-info {
    border-radius: 0 0 1.875rem 1.875rem;
  }
}
.product-info-top {
  margin-bottom: auto;
  width: 100%;
}
.product-info-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.product-info-price {
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-info-price .subPrice {
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 1.375rem;
}
.product-info-count {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-info-count-input {
  width: 3.25rem;
  height: 3.125rem;
  border-radius: 0.9375rem;
  border: 0;
  outline: none;
  text-align: center;
}
.product-info-count-input::-webkit-inner-spin-button, .product-info-count-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.product-info-count-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.9375rem;
}
.product-info-count-content .content-arrow {
  display: flex;
  flex-direction: column;
  margin-left: 0.6875rem;
  justify-content: space-between;
}
.product-info-count-content .content-arrow .arrow {
  cursor: pointer;
  height: 1.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-info-count-content .content-arrow .arrow svg {
  color: var(--color-red);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-info-count-content .content-arrow .arrow-down {
  transform: rotateZ(180deg);
}
.product-info-btn {
  width: 15.5rem;
  height: 3.125rem;
  padding: 0.4375rem 4.625rem;
  border-radius: 0.9375rem;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.footer {
  padding: 1.25rem 0;
  background-image: linear-gradient(120deg, #04506c 0%, #F500AD 90%);
  opacity: 0.9;
}
.footer-content {
  justify-content: center;
  text-align: center;
}
.footer-content-img {
  width: 6.25rem;
}
.footer-content-info-title {
  margin-bottom: 0.9375rem;
}
.footer-content-info-link {
  margin-bottom: 1.1875rem;
  display: block;
}
@media (max-width: 575px) {
  .footer .content-img, .footer .content-info {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1.875rem;
  }
}

.footer-content-info-title {
  text-align: center;
}

.footer-content-info-link {
  display: flex;
  align-items: center;
  margin: 0rem 1.25rem;
}
.footer-content-info-link img {
  color: white;
  width: 1.125rem;
  margin-right: 0.625rem;
}

.footer-content-info-linkcs {
  display: flex;
}

.fts {
  padding: 0.625rem;
}

.container-img {
  position: relative;
  min-height: min(1208px, 62vw);
  display: flex;
}
.container-img-fondo, .container-img-fondo-img {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-img-fondo-img {
  clip-path: polygon(54% 0, 100% 0, 50% 100%, 0% 100%);
}
.container-img-info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 0;
}
.container-img-info-title {
  width: min(575px, 100%);
}
.container-img-info-text {
  width: min(632px, 100%);
}
.container-img-info-2 {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12.5rem;
  margin-bottom: 12.5rem;
}
.form-label {
  width: min(700px, 47%);
  display: block;
  margin-bottom: 2.8125rem;
}
@media (max-width: 767px) {
  .form-label {
    width: 100%;
  }
}
.form-label-input {
  border: 0;
  outline: none;
  display: block;
  border-radius: 1.25rem;
  padding: 0.875rem 1.25rem;
  width: 100%;
}
.form-label-input-height-175 {
  min-height: 10.9375rem;
  min-width: 100%;
}
.form-label-100 {
  width: 100%;
}
.form-submit {
  width: min(700px, 50%);
  display: block;
  border: 0;
  outline: none;
  border-radius: 1.25rem;
  padding: 0.875rem 1.75rem;
  margin: auto;
  cursor: pointer;
}
@media (max-width: 767px) {
  .form-submit {
    width: 100%;
  }
}

.content-infoimg-text::first-letter {
  font-size: 3rem;
  color: var(--color-yellow);
}
.content-infoimg-img {
  width: min(50%, 670px);
  float: right;
  margin-left: 2.8125rem;
  margin-bottom: 2.8125rem;
}
.content-infoimg-img-left {
  margin-right: 2.8125rem;
  float: left;
  margin-left: 0;
}

body {
  min-height: 100vh;
}

.content-page {
  padding: 0 0 1.25rem 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.content-page-childrens {
  width: 100%;
}

.background-picture {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}
.background-picture::before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background: var(--color-gradient);
  z-index: 0;
  opacity: 0.5;
}
.background-picture-img {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 0.7;
}

body:not(.cartActive) .cart {
  transform: translateX(100%);
}
body:not(.cartActive) .bg-cart-left {
  opacity: 0;
  transform: scale(0);
}

body.cartActive {
  overflow: hidden;
}

.bg-cart-left {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: calc(100% - 3.75rem);
  z-index: 8;
  transition: 0.5s opacity;
}

.cart {
  width: 32.1875rem;
  max-width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100% - 3.75rem);
  z-index: 9;
  padding: 2.0625rem 1.5rem;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
}
.cart-top {
  margin-bottom: auto;
}
.cart-buttom {
  width: 100%;
  padding: 0.75rem 1.25rem;
  display: block;
  max-width: 100%;
  border: 0;
  border-radius: 0.9375rem;
  cursor: pointer;
  text-align: center;
}
.cart-buttom:not(:last-child) {
  margin-bottom: 1.75rem;
}
.cart-title {
  margin-bottom: 1.9375rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-products {
  overflow: auto;
  height: calc(100vh - 21.25rem);
}
.cart-product {
  width: 100%;
  align-items: center;
  border-radius: 1.25rem;
  padding: 0.9375rem 1.25rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
}
.cart-product:nth-child(2n) {
  --color-red:var(--color-purple);
  --color-soft-purple-2: var(--color-gray-2);
}
.cart-product-img {
  width: 4.3125rem;
  height: 4.3125rem;
  object-fit: cover;
  object-position: center;
  border-radius: 0.9375rem;
}
.cart-product-info {
  margin-left: 1.25rem;
  margin-right: auto;
}
.cart-product-prices .subPrice {
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 0.875rem;
}
.cart-product .delete {
  cursor: pointer;
}

.pedir {
  padding: 4rem 6.25rem;
  width: 100%;
  border-radius: 1.5625rem;
  margin-bottom: 1.25rem;
}
@media (max-width: 991px) {
  .pedir {
    padding: 1.25rem 3.125rem;
  }
}
@media (max-width: 767px) {
  .pedir {
    padding: 1.25rem 0;
  }
}
.pedir-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.pedir-form {
  padding: 4rem 6.25rem;
}
@media (max-width: 991px) {
  .pedir-form {
    padding: 0.625rem 1.25rem;
  }
}
@media (max-width: 767px) {
  .pedir-form {
    padding: 0 0.9375rem;
  }
}
.pedir-form-input {
  width: 100%;
  display: block;
  border-radius: 0.625rem;
  border: 0;
  outline: none;
  height: 3.125rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
.pedir-form-buttom {
  width: 100%;
  height: 3.125rem;
  display: block;
  border-radius: 0.625rem;
  border: 0;
  width: calc(50% - 0.5rem);
  display: block;
  margin-top: 1.8125rem;
  margin-bottom: 1.375rem;
  cursor: pointer;
}
@media (max-width: 575px) {
  .pedir-form-buttom {
    width: 100%;
  }
}
.pedir-form-info {
  width: calc(50% - 0.5rem);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.375rem;
}
@media (max-width: 575px) {
  .pedir-form-info {
    width: 100%;
  }
}
.pedir-form-info-span {
  line-height: 1.8125rem;
  display: block;
  width: 100%;
}
.pedir-title {
  padding: 0.75rem 1.25rem;
  display: block;
  max-width: 100%;
  justify-content: center;
  text-align: center;
}

.pedir-form-infos {
  display: flex;
  justify-content: end;
  align-items: center;
}

.wafles {
  width: 70%;
}

.banners {
  margin: 0 0 6.25rem 0;
}
.banners .title-princ {
  color: #000000;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
